.header{
  height: 200px;
  width: 100%;
  background-color : #E9EEF6;
  padding-top: 50px;
}

/* background image error? fix Thursday */
.background-image {
  background-image: url('https://i.pinimg.com/originals/d7/d8/db/d7d8dbf3811c797e5d2cc364743ae3a7.gif');
  background-size: cover;
  background-position: center;
  /* This property specifies how the background image should be repeated or tiled. 
  The no-repeat value means the image will not be repeated and will only be displayed once. */
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  /* This property sets the stacking order of positioned elements. 
  The -1 value positions the element below any other element with a z-index of 0 or greater. 
  This ensures the background image stays behind the other content in the App component. */

}

.card-container{
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper{
  width: 270px; 
  height: 200px; 
  box-shadow: 0px 3px 50px #A5A5A5;
  display: flex;
  flex-direction: column;
}

.mt-3{
  color: #E9EEF6;
}

.card-top{
  width: 100%;
  height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display : flex;
  flex-direction: column;
  position: relative;
}

.card-header{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.mt-3{
  color: #E9EEF6;
}

.task-container{
  height: 600px;
  width: 100%;
  display: flex;
  gap:50px;
  flex-wrap: wrap;
  background-color: #F6F7F8;
  padding : 40px 100px;
}



